In [10]:
import pandas as pd
import json

In [11]:
df = pd.read_csv('input/cities.csv')
df.head()

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,jacareacanga,0,BR,1528902000,62,-6.22,-57.76,89.60,6.93
1,1,kaitangata,100,NZ,1528905304,94,-46.28,169.85,42.61,5.64
2,2,goulburn,20,AU,1528905078,91,-34.75,149.72,44.32,10.11
3,3,lata,76,IN,1528905305,89,30.78,78.62,59.89,0.94
4,4,chokurdakh,0,RU,1528905306,88,70.62,147.90,32.17,2.95

In [12]:
df.set_index('City_ID', inplace=True)
df.head()

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
City_ID,,,,,,,,,
0,jacareacanga,0,BR,1528902000,62,-6.22,-57.76,89.60,6.93
1,kaitangata,100,NZ,1528905304,94,-46.28,169.85,42.61,5.64
2,goulburn,20,AU,1528905078,91,-34.75,149.72,44.32,10.11
3,lata,76,IN,1528905305,89,30.78,78.62,59.89,0.94
4,chokurdakh,0,RU,1528905306,88,70.62,147.90,32.17,2.95

In [13]:
#html_data = df.to_html

In [16]:
json_data = df.to_json('json_file')

In [45]:
import json
import pprint

#pp.PrettyPrinter().pprint

#from pprint import PrettyPrinter as pp
#pp.pprint()

released = {
            "iphone" : 2007,
            "iphone 3G" : 2008,
            "iphone 3GS" : 2009,
            "iphone 4" : 2010,
            "iphone 4S" : 2011,
            "iphone 5" : 2012
        }
pprint.pprint(released)

#print released
#with open('json_file') as f:
    
#    xjson = f.readline()
#    #yy = json.dumps(xjson, sort_keys=True, indent=4)
#    x={'a':'3','b':'67'}

#pp.pprint('released')

{'iphone': 2007,
 'iphone 3G': 2008,
 'iphone 3GS': 2009,
 'iphone 4': 2010,
 'iphone 4S': 2011,
 'iphone 5': 2012}

In [54]:
import json

with open('json_file') as json_file:
    data = json.load(json_file)
    pprint.pprint(data)

{}

In [ ]:
    for p in data['people']:
        print('Name: ' + p['name'])
        print('Website: ' + p['website'])
        print('From: ' + p['from'])
        print('')

In [53]:
data={}
with open('json_file', 'w') as outfile:
    x=json.dump(data, outfile)
    pprint.pprint(outfile)

<_io.TextIOWrapper name='json_file' mode='w' encoding='cp1252'>

In [ ]:
with open('json_file') as f:
    xjson = f.readline()
    pprint.pprint(xjson)

In [7]:
df.to_json('Resources/table_data.html')

FileNotFoundError: [Errno 2] No such file or directory: 'Resources/table_data.html'