In [1]:
import pandas as pd
import glob

## Extract

In [2]:
df = pd.concat(map(pd.read_csv, glob.glob('test_input' + '\*.csv')))
#Extract All source code
#https://stackoverflow.com/questions/20906474/import-multiple-csv-files-into-pandas-and-concatenate-into-one-dataframe

C:\Users\mwals\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [3]:
df.head()

,City,City_ID,Cloudiness,Country,DEATHS,Date,Humidity,Lat,Lng,Max Temp,...,rentals_handgun,rentals_long_gun,return_to_seller_handgun,return_to_seller_long_gun,return_to_seller_other,returned_handgun,returned_long_gun,returned_other,state,totals
0,jacareacanga,0.0,0.0,BR,NaN,1.528902e+09,62.0,-6.22,-57.76,89.60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,kaitangata,1.0,100.0,NZ,NaN,1.528905e+09,94.0,-46.28,169.85,42.61,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,goulburn,2.0,20.0,AU,NaN,1.528905e+09,91.0,-34.75,149.72,44.32,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,lata,3.0,76.0,IN,NaN,1.528905e+09,89.0,30.78,78.62,59.89,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,chokurdakh,4.0,0.0,RU,NaN,1.528905e+09,88.0,70.62,147.90,32.17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
len(df)

15437

## Transform

In [5]:
df['hash'] = pd.Series((hash(tuple(row)) for _, row in df.iterrows()))
#Hash Code
#https://stackoverflow.com/questions/25757042/create-hash-value-for-each-row-of-data-with-selected-columns-in-dataframe-in-pyt
df.head()

,City,City_ID,Cloudiness,Country,DEATHS,Date,Humidity,Lat,Lng,Max Temp,...,rentals_long_gun,return_to_seller_handgun,return_to_seller_long_gun,return_to_seller_other,returned_handgun,returned_long_gun,returned_other,state,totals,hash
0,jacareacanga,0.0,0.0,BR,NaN,1.528902e+09,62.0,-6.22,-57.76,89.60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,813185763206456943
1,kaitangata,1.0,100.0,NZ,NaN,1.528905e+09,94.0,-46.28,169.85,42.61,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-3153182670217411558
2,goulburn,2.0,20.0,AU,NaN,1.528905e+09,91.0,-34.75,149.72,44.32,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-4605819088750648052
3,lata,3.0,76.0,IN,NaN,1.528905e+09,89.0,30.78,78.62,59.89,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-8598265902925878463
4,chokurdakh,4.0,0.0,RU,NaN,1.528905e+09,88.0,70.62,147.90,32.17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1947104327608849200

In [6]:
len(df)

15437

In [7]:
df_nodupe = df[~df.duplicated()]
#Dedupe code source
#https://stackoverflow.com/questions/40438237/assign-hash-to-row-of-categorical-data-in-pandas

In [8]:
df_nodupe.head()

,City,City_ID,Cloudiness,Country,DEATHS,Date,Humidity,Lat,Lng,Max Temp,...,rentals_long_gun,return_to_seller_handgun,return_to_seller_long_gun,return_to_seller_other,returned_handgun,returned_long_gun,returned_other,state,totals,hash
0,jacareacanga,0.0,0.0,BR,NaN,1.528902e+09,62.0,-6.22,-57.76,89.60,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,813185763206456943
1,kaitangata,1.0,100.0,NZ,NaN,1.528905e+09,94.0,-46.28,169.85,42.61,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-3153182670217411558
2,goulburn,2.0,20.0,AU,NaN,1.528905e+09,91.0,-34.75,149.72,44.32,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-4605819088750648052
3,lata,3.0,76.0,IN,NaN,1.528905e+09,89.0,30.78,78.62,59.89,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-8598265902925878463
4,chokurdakh,4.0,0.0,RU,NaN,1.528905e+09,88.0,70.62,147.90,32.17,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1947104327608849200

In [9]:
len(df_nodupe)

14589

## Load

#### > Convert DataFrame to json formatted file

In [10]:
import json

In [11]:
file_data = df_nodupe.to_json(path_or_buf=None)
#file_data = df_nodupe.to_json(path_or_buf=None, orient='index')
# Converting dataframe data to json format
# https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_json.html

ValueError: DataFrame index must be unique for orient='columns'.

In [ ]:
#json_data = df_nodupe.to_json(orient='index')
#parsed = json.loads(json_data)
# print(json.dumps(parsed, indent=4, sort_keys=True))
# Un-comment print to pretty print json formated data

#### > Create MongoDB named 'etl_db' with a collection 'etl_data'

In [ ]:
import pymongo
from pymongo import MongoClient
client = MongoClient()
client = MongoClient('localhost', 27017)
client = MongoClient('mongodb://localhost:27017/')
print('Mongo version', pymongo.__version__)

In [ ]:
# Uncomment code to drop existing database before creating new one
# client.drop_database('etl_db')

In [ ]:
db = client['etl_db']
# Create database named 'etl_db'

db.etl_data.drop() # Drop collection if it already exist

collection = db['etl_data']
# Create collection called 'etl_data'

#### > Load ETL_json_file data

In [ ]:
collection.insert_many(file_data)

with open('ETL_json_file') as f:
    file_data = json.load(f)
    collection.insert_one(file_data) 
client.close()
# Read json file into mongoDB
# https://stackoverflow.com/questions/49510049/how-to-import-json-file-to-mongodb-using-python

In [ ]:
db.list_collection_names()
# List collections in database

In [ ]:
db.etl_data.find( { 0: {} } )

In [ ]:
# cursor = db.etl_data # selecting the etl_data collection
# for document in cursor.find():
#    print (document)
# Printing the content of the collection LARGE PRINTOUT

#### > Reading content of database and loading it into a dataframe

In [ ]:
extracted_etl_data = db.etl_data
df = pd.DataFrame(list(extracted_etl_data.find()))
# https://stackoverflow.com/questions/16249736/how-to-import-data-from-mongodb-to-pandas

In [ ]:
df

In [ ]:
df = df.melt()

In [ ]:
df.head()

In [ ]:
len(df)

In [ ]:
df.iloc[0][1]
# Showing content of first row 'value'

#### > CSV Move script - moves .csv files after being ETL processed

In [ ]:
import shutil, os, glob

In [ ]:
#For Loop moving all .csv files from the test_input folder 
for filePath in glob.glob('test_input' + '\*.csv'):
            #Move each file to the destination directory
        shutil.move(filePath, 'test_processed');
# Move all files that have been ETL'ed into a processed folder
#Source Code           
#https://thispointer.com/python-how-to-move-files-and-directories/