In [1]:
#conda install -c plotly plotly=4.0.0

In [2]:
import plotly.graph_objects as go

import pandas as pd

In [8]:
#State Coords
# File to Load 
state_coord_to_load = "input/state_coord.csv"

# Read the firearms data
coord_data = pd.read_csv(state_coord_to_load)
coord_data.head()

        state   latitude   longitude
0     Alabama  32.806671  -86.791130
1      Alaska  61.370716 -152.404419
2     Arizona  33.729759 -111.431221
3    Arkansas  34.969704  -92.373123
4  California  36.116203 -119.681564

In [9]:
# File to Load 
fireams_data_to_load = "input/nics-firearm-background-checks.csv"

# Read the firearms data
firearms_data = pd.read_csv(fireams_data_to_load)
firearms_data.head()

,month,state,permit,permit_recheck,handgun,long_gun,other,multiple,admin,prepawn_handgun,...,returned_other,rentals_handgun,rentals_long_gun,private_sale_handgun,private_sale_long_gun,private_sale_other,return_to_seller_handgun,return_to_seller_long_gun,return_to_seller_other,totals
0,2019-06,Alabama,28449.0,499.0,6947.0,4521.0,298.0,432,0.0,19.0,...,0.0,0.0,0.0,10.0,11.0,1.0,0.0,0.0,1.0,42898
1,2019-06,Alaska,251.0,6.0,2465.0,2000.0,239.0,182,0.0,0.0,...,0.0,0.0,0.0,14.0,12.0,2.0,0.0,0.0,0.0,5557
2,2019-06,Arizona,5371.0,438.0,11375.0,5931.0,1309.0,656,0.0,14.0,...,4.0,0.0,0.0,13.0,7.0,5.0,2.0,0.0,0.0,26746
3,2019-06,Arkansas,2690.0,559.0,4653.0,3214.0,292.0,458,8.0,11.0,...,0.0,0.0,0.0,9.0,10.0,1.0,0.0,2.0,0.0,13956
4,2019-06,California,39303.0,0.0,38712.0,27050.0,4856.0,0,5040.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,115987

In [10]:
#World Atlas.COM
# File to Load 
state_population_to_load = "input/state_populations.csv"

# Read the firearms data
population_data = pd.read_csv(state_population_to_load)
population_data.head()

   pop_rank         state  population
0         1    California  39,536,653
1         2         Texas  28,304,596
2         3       Florida  20,984,400
3         4      New York  19,849,399
4         5  Pennsylvania  12,805,537

In [12]:
# Combine the data into a single dataset with a left merge on "state"
data_pair = pd.merge(firearms_data, population_data, how="left", on=["state", "state"])
df = pd.merge(data_pair, coord_data, how="left", on=["state", "state"])
df.head()

,month,state,permit,permit_recheck,handgun,long_gun,other,multiple,admin,prepawn_handgun,...,private_sale_long_gun,private_sale_other,return_to_seller_handgun,return_to_seller_long_gun,return_to_seller_other,totals,pop_rank,population,latitude,longitude
0,2019-06,Alabama,28449.0,499.0,6947.0,4521.0,298.0,432,0.0,19.0,...,11.0,1.0,0.0,0.0,1.0,42898,24.0,"4,874,747",32.806671,-86.791130
1,2019-06,Alaska,251.0,6.0,2465.0,2000.0,239.0,182,0.0,0.0,...,12.0,2.0,0.0,0.0,0.0,5557,48.0,"739,795",61.370716,-152.404419
2,2019-06,Arizona,5371.0,438.0,11375.0,5931.0,1309.0,656,0.0,14.0,...,7.0,5.0,2.0,0.0,0.0,26746,14.0,"7,016,270",33.729759,-111.431221
3,2019-06,Arkansas,2690.0,559.0,4653.0,3214.0,292.0,458,8.0,11.0,...,10.0,1.0,0.0,2.0,0.0,13956,32.0,"3,004,279",34.969704,-92.373123
4,2019-06,California,39303.0,0.0,38712.0,27050.0,4856.0,0,5040.0,0.0,...,0.0,0.0,0.0,0.0,0.0,115987,1.0,"39,536,653",36.116203,-119.681564

In [16]:


#df = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/2011_february_us_airport_traffic.csv')
#df['text'] = df['airport'] + '' + df['city'] + ', ' + df['state'] + '' + 'Arrivals: ' + df['cnt'].astype(str)
df = df['totals'] + '' + df['state'] + '' + 'Transactions: ' + df['cnt'].astype(str)

fig = go.Figure(data=go.Scattergeo(
        lon = df['longitude'],
        lat = df['latitude'],
        #text = df['text'],
        #mode = 'markers',
        marker_color = df['cnt'],
        ))

fig.update_layout(
        title = 'Total firearm transactions per state <br>(Hover over state)',
        geo_scope='usa',
    )
fig.show()

TypeError: ufunc 'add' did not contain a loop with signature matching types dtype('<U21') dtype('<U21') dtype('<U21')