Graphing Fireams in America

Team members Tulgaa, Mike, Enerel and Gene into Github account https://github.com/vabigdatamover/dream-team

In [1]:
#Variable, dependables and setup
%matplotlib inline
# Dependencies and Setup
import pandas as pd
import numpy as np
import requests
import json
import seaborn as sns
import matplotlib.pyplot as plt
import time
import datetime
import sys
import csv
import os
from pprint import pprint
from pandas import DataFrame
import datetime as dt

In [16]:
## get key from os
#api_key = os.environ.get('weather_api_key')
api_key = os.environ.get('crime_data_api_key')
#print(api_key)

#url = 'https://api.usa.gov/crime/fbi/sapi/api/participation/national?'
url = 'https://api.usa.gov/crime/fbi/sapi/api/participation/national?'
#url = 'https://api.usa.gov/crime/fbi/sapi/api/estimates/national/2015/2019?'
query_url = url + 'api_key=' + api_key
#print(query_url)

In [17]:
#query_url = 'https://api.usa.gov/crime/fbi/sapi/api/participation/national?api_key=
#print(query_url)

In [19]:
crime_data = requests.get(query_url).json()

In [27]:
crime_data['results'][0]

{'data_year': 2017,
 'population': 335302926,
 'total_agency_count': 18642,
 'published_agency_count': 16783,
 'active_agency_count': 21994,
 'covered_agency_count': 1,
 'population_covered': 0,
 'agency_count_nibrs_submitting': 7102,
 'agency_count_leoka_submitting': 6564,
 'agency_count_pe_submitting': 16784,
 'agency_count_srs_submitting': 9696,
 'agency_count_asr_submitting': 13694,
 'agency_count_hc_submitting': 16300,
 'nibrs_population_covered': 109672672,
 'total_population': 335302926,
 'csv_header': 'data_year,population,total_agency_count,published_agency_count,active_agency_count,covered_agency_count,population_covered,agency_count_nibrs_submitting,agency_count_leoka_submitting,agency_count_pe_submitting,agency_count_srs_submitting'}

In [28]:
s_2 = crime_data['results']
s_2

[{'data_year': 2017,
  'population': 335302926,
  'total_agency_count': 18642,
  'published_agency_count': 16783,
  'active_agency_count': 21994,
  'covered_agency_count': 1,
  'population_covered': 0,
  'agency_count_nibrs_submitting': 7102,
  'agency_count_leoka_submitting': 6564,
  'agency_count_pe_submitting': 16784,
  'agency_count_srs_submitting': 9696,
  'agency_count_asr_submitting': 13694,
  'agency_count_hc_submitting': 16300,
  'nibrs_population_covered': 109672672,
  'total_population': 335302926,
  'csv_header': 'data_year,population,total_agency_count,published_agency_count,active_agency_count,covered_agency_count,population_covered,agency_count_nibrs_submitting,agency_count_leoka_submitting,agency_count_pe_submitting,agency_count_srs_submitting'},
 {'data_year': 2016,
  'population': 333722034,
  'total_agency_count': 19468,
  'published_agency_count': 17442,
  'active_agency_count': 22623,
  'covered_agency_count': 7,
  'population_covered': 80974,
  'agency_count_nibrs_submitting': 7044,
  'agency_count_leoka_submitting': 6602,
  'agency_count_pe_submitting': 17444,
  'agency_count_srs_submitting': 10048,
  'agency_count_asr_submitting': 13727,
  'agency_count_hc_submitting': 16521,
  'nibrs_population_covered': 104445260,
  'total_population': 333722034,
  'csv_header': 'data_year,population,total_agency_count,published_agency_count,active_agency_count,covered_agency_count,population_covered,agency_count_nibrs_submitting,agency_count_leoka_submitting,agency_count_pe_submitting,agency_count_srs_submitting'},
 {'data_year': 2015,
  'population': 332303887,
  'total_agency_count': 19539,
  'published_agency_count': 17424,
  'active_agency_count': 22744,
  'covered_agency_count': 1,
  'population_covered': 717,
  'agency_count_nibrs_submitting': 6792,
  'agency_count_leoka_submitting': 6447,
  'agency_count_pe_submitting': 17425,
  'agency_count_srs_submitting': 10144,
  'agency_count_asr_submitting': 13453,
  'agency_count_hc_submitting': 15587,
  'nibrs_population_covered': 98826535,
  'total_population': 332303887,
  'csv_header': 'data_year,population,total_agency_count,published_agency_count,active_agency_count,covered_agency_count,population_covered,agency_count_nibrs_submitting,agency_count_leoka_submitting,agency_count_pe_submitting,agency_count_srs_submitting'},
 {'data_year': 2014,
  'population': 328081318,
  'total_agency_count': 19903,
  'published_agency_count': 17388,
  'active_agency_count': 22903,
  'covered_agency_count': 1,
  'population_covered': 22005,
  'agency_count_nibrs_submitting': 6663,
  'agency_count_leoka_submitting': 6270,
  'agency_count_pe_submitting': 17390,
  'agency_count_srs_submitting': 10064,
  'agency_count_asr_submitting': 12885,
  'agency_count_hc_submitting': 16467,
  'nibrs_population_covered': 95148267,
  'total_population': 328081318,
  'csv_header': 'data_year,population,total_agency_count,published_agency_count,active_agency_count,covered_agency_count,population_covered,agency_count_nibrs_submitting,agency_count_leoka_submitting,agency_count_pe_submitting,agency_count_srs_submitting'},
 {'data_year': 2013,
  'population': 325305041,
  'total_agency_count': 19994,
  'published_agency_count': 17436,
  'active_agency_count': 22925,
  'covered_agency_count': 0,
  'population_covered': 0,
  'agency_count_nibrs_submitting': 6458,
  'agency_count_leoka_submitting': 5700,
  'agency_count_pe_submitting': 17438,
  'agency_count_srs_submitting': 10248,
  'agency_count_asr_submitting': 12444,
  'agency_count_hc_submitting': 16012,
  'nibrs_population_covered': 93441836,
  'total_population': 325305041,
  'csv_header': 'data_year,population,total_agency_count,published_agency_count,active_agency_count,covered_agency_count,population_covered,agency_count_nibrs_submitting,agency_count_leoka_submitting,agency_count_pe_submitting,agency_count_srs_submitting'},
 {'data_year': 2012,
  'population': 323526281,
  'total_agency_count': 19832,
  'published_agency_count': 17187,
  'active_agency_count': 22701,
  'covered_agency_count': 0,
  'population_covered': 0,
  'agency_count_nibrs_submitting': 6327,
  'agency_count_leoka_submitting': 5246,
  'agency_count_pe_submitting': 17188,
  'agency_count_srs_submitting': 10391,
  'agency_count_asr_submitting': 12911,
  'agency_count_hc_submitting': 15214,
  'nibrs_population_covered': 92061921,
  'total_population': 323526281,
  'csv_header': 'data_year,population,total_agency_count,published_agency_count,active_agency_count,covered_agency_count,population_covered,agency_count_nibrs_submitting,agency_count_leoka_submitting,agency_count_pe_submitting,agency_count_srs_submitting'},
 {'data_year': 2011,
  'population': 322015521,
  'total_agency_count': 20122,
  'published_agency_count': 17279,
  'active_agency_count': 22920,
  'covered_agency_count': 0,
  'population_covered': 0,
  'agency_count_nibrs_submitting': 6066,
  'agency_count_leoka_submitting': 5254,
  'agency_count_pe_submitting': 17280,
  'agency_count_srs_submitting': 10525,
  'agency_count_asr_submitting': 12750,
  'agency_count_hc_submitting': 15428,
  'nibrs_population_covered': 89093535,
  'total_population': 322015521,
  'csv_header': 'data_year,population,total_agency_count,published_agency_count,active_agency_count,covered_agency_count,population_covered,agency_count_nibrs_submitting,agency_count_leoka_submitting,agency_count_pe_submitting,agency_count_srs_submitting'},
 {'data_year': 2010,
  'population': 318549157,
  'total_agency_count': 20210,
  'published_agency_count': 17323,
  'active_agency_count': 22962,
  'covered_agency_count': 0,
  'population_covered': 0,
  'agency_count_nibrs_submitting': 5953,
  'agency_count_leoka_submitting': 5024,
  'agency_count_pe_submitting': 17325,
  'agency_count_srs_submitting': 10614,
  'agency_count_asr_submitting': 12799,
  'agency_count_hc_submitting': 15821,
  'nibrs_population_covered': 86150031,
  'total_population': 318549157,
  'csv_header': 'data_year,population,total_agency_count,published_agency_count,active_agency_count,covered_agency_count,population_covered,agency_count_nibrs_submitting,agency_count_leoka_submitting,agency_count_pe_submitting,agency_count_srs_submitting'},
 {'data_year': 2009,
  'population': 316202888,
  'total_agency_count': 20105,
  'published_agency_count': 16619,
  'active_agency_count': 22743,
  'covered_agency_count': 0,
  'population_covered': 0,
  'agency_count_nibrs_submitting': 5900,
  'agency_count_leoka_submitting': 4583,
  'agency_count_pe_submitting': 16621,
  'agency_count_srs_submitting': 10158,
  'agency_count_asr_submitting': 13007,
  'agency_count_hc_submitting': 15106,
  'nibrs_population_covered': 83111027,
  'total_population': 316202888,
  'csv_header': 'data_year,population,total_agency_count,published_agency_count,active_agency_count,covered_agency_count,population_covered,agency_count_nibrs_submitting,agency_count_leoka_submitting,agency_count_pe_submitting,agency_count_srs_submitting'},
 {'data_year': 2008,
  'population': 314773345,
  'total_agency_count': 20314,
  'published_agency_count': 16446,
  'active_agency_count': 22853,
  'covered_agency_count': 0,
  'population_covered': 0,
  'agency_count_nibrs_submitting': 5545,
  'agency_count_leoka_submitting': 3499,
  'agency_count_pe_submitting': 16448,
  'agency_count_srs_submitting': 10419,
  'agency_count_asr_submitting': 12347,
  'agency_count_hc_submitting': 14933,
  'nibrs_population_covered': 79598238,
  'total_population': 314773345,
  'csv_header': 'data_year,population,total_agency_count,published_agency_count,active_agency_count,covered_agency_count,population_covered,agency_count_nibrs_submitting,agency_count_leoka_submitting,agency_count_pe_submitting,agency_count_srs_submitting'},
 {'data_year': 2007,
  'population': 312002646,
  'total_agency_count': 20275,
  'published_agency_count': 16298,
  'active_agency_count': 22755,
  'covered_agency_count': 0,
  'population_covered': 0,
  'agency_count_nibrs_submitting': 5266,
  'agency_count_leoka_submitting': 3186,
  'agency_count_pe_submitting': 16300,
  'agency_count_srs_submitting': 10544,
  'agency_count_asr_submitting': 12423,
  'agency_count_hc_submitting': 13959,
  'nibrs_population_covered': 76077457,
  'total_population': 312002646,
  'csv_header': 'data_year,population,total_agency_count,published_agency_count,active_agency_count,covered_agency_count,population_covered,agency_count_nibrs_submitting,agency_count_leoka_submitting,agency_count_pe_submitting,agency_count_srs_submitting'},
 {'data_year': 2006,
  'population': 308478985,
  'total_agency_count': 20413,
  'published_agency_count': 16044,
  'active_agency_count': 22886,
  'covered_agency_count': 0,
  'population_covered': 0,
  'agency_count_nibrs_submitting': 5128,
  'agency_count_leoka_submitting': 3203,
  'agency_count_pe_submitting': 16046,
  'agency_count_srs_submitting': 10292,
  'agency_count_asr_submitting': 11799,
  'agency_count_hc_submitting': 13507,
  'nibrs_population_covered': 72617407,
  'total_population': 308478985,
  'csv_header': 'data_year,population,total_agency_count,published_agency_count,active_agency_count,covered_agency_count,population_covered,agency_count_nibrs_submitting,agency_count_leoka_submitting,agency_count_pe_submitting,agency_count_srs_submitting'},
 {'data_year': 2005,
  'population': 307103743,
  'total_agency_count': 20499,
  'published_agency_count': 15427,
  'active_agency_count': 22944,
  'covered_agency_count': 0,
  'population_covered': 0,
  'agency_count_nibrs_submitting': 4966,
  'agency_count_leoka_submitting': 3042,
  'agency_count_pe_submitting': 15430,
  'agency_count_srs_submitting': 9869,
  'agency_count_asr_submitting': 11851,
  'agency_count_hc_submitting': 13241,
  'nibrs_population_covered': 70704377,
  'total_population': 307103743,
  'csv_header': 'data_year,population,total_agency_count,published_agency_count,active_agency_count,covered_agency_count,population_covered,agency_count_nibrs_submitting,agency_count_leoka_submitting,agency_count_pe_submitting,agency_count_srs_submitting'},
 {'data_year': 2004,
  'population': 306453395,
  'total_agency_count': 20524,
  'published_agency_count': 15295,
  'active_agency_count': 22925,
  'covered_agency_count': 0,
  'population_covered': 0,
  'agency_count_nibrs_submitting': 4803,
  'agency_count_leoka_submitting': 2721,
  'agency_count_pe_submitting': 15296,
  'agency_count_srs_submitting': 10028,
  'agency_count_asr_submitting': 11526,
  'agency_count_hc_submitting': 13387,
  'nibrs_population_covered': 66219223,
  'total_population': 306453395,
  'csv_header': 'data_year,population,total_agency_count,published_agency_count,active_agency_count,covered_agency_count,population_covered,agency_count_nibrs_submitting,agency_count_leoka_submitting,agency_count_pe_submitting,agency_count_srs_submitting'},
 {'data_year': 2003,
  'population': 303607661,
  'total_agency_count': 20705,
  'published_agency_count': 14881,
  'active_agency_count': 23036,
  'covered_agency_count': 0,
  'population_covered': 0,
  'agency_count_nibrs_submitting': 4515,
  'agency_count_leoka_submitting': 1934,
  'agency_count_pe_submitting': 14882,
  'agency_count_srs_submitting': 9819,
  'agency_count_asr_submitting': 11473,
  'agency_count_hc_submitting': 12704,
  'nibrs_population_covered': 61807732,
  'total_population': 303607661,
  'csv_header': 'data_year,population,total_agency_count,published_agency_count,active_agency_count,covered_agency_count,population_covered,agency_count_nibrs_submitting,agency_count_leoka_submitting,agency_count_pe_submitting,agency_count_srs_submitting'},
 {'data_year': 2002,
  'population': 300224229,
  'total_agency_count': 20877,
  'published_agency_count': 14770,
  'active_agency_count': 23119,
  'covered_agency_count': 0,
  'population_covered': 0,
  'agency_count_nibrs_submitting': 4032,
  'agency_count_leoka_submitting': 1644,
  'agency_count_pe_submitting': 14771,
  'agency_count_srs_submitting': 10128,
  'agency_count_asr_submitting': 11052,
  'agency_count_hc_submitting': 12822,
  'nibrs_population_covered': 56331594,
  'total_population': 300224229,
  'csv_header': 'data_year,population,total_agency_count,published_agency_count,active_agency_count,covered_agency_count,population_covered,agency_count_nibrs_submitting,agency_count_leoka_submitting,agency_count_pe_submitting,agency_count_srs_submitting'},
 {'data_year': 2001,
  'population': 297481562,
  'total_agency_count': 20808,
  'published_agency_count': 14117,
  'active_agency_count': 23012,
  'covered_agency_count': 0,
  'population_covered': 0,
  'agency_count_nibrs_submitting': 3780,
  'agency_count_leoka_submitting': 1528,
  'agency_count_pe_submitting': 14118,
  'agency_count_srs_submitting': 9841,
  'agency_count_asr_submitting': 10372,
  'agency_count_hc_submitting': 12795,
  'nibrs_population_covered': 53268379,
  'total_population': 297481562,
  'csv_header': 'data_year,population,total_agency_count,published_agency_count,active_agency_count,covered_agency_count,population_covered,agency_count_nibrs_submitting,agency_count_leoka_submitting,agency_count_pe_submitting,agency_count_srs_submitting'},
 {'data_year': 2000,
  'population': 294154476,
  'total_agency_count': 20915,
  'published_agency_count': 14028,
  'active_agency_count': 23107,
  'covered_agency_count': 0,
  'population_covered': 0,
  'agency_count_nibrs_submitting': 3570,
  'agency_count_leoka_submitting': 1394,
  'agency_count_pe_submitting': 14029,
  'agency_count_srs_submitting': 9869,
  'agency_count_asr_submitting': 10005,
  'agency_count_hc_submitting': 12358,
  'nibrs_population_covered': 48745693,
  'total_population': 294154476,
  'csv_header': 'data_year,population,total_agency_count,published_agency_count,active_agency_count,covered_agency_count,population_covered,agency_count_nibrs_submitting,agency_count_leoka_submitting,agency_count_pe_submitting,agency_count_srs_submitting'},
 {'data_year': 1999,
  'population': 286738401,
  'total_agency_count': 21616,
  'published_agency_count': 13214,
  'active_agency_count': 23581,
  'covered_agency_count': 0,
  'population_covered': 0,
  'agency_count_nibrs_submitting': 2982,
  'agency_count_leoka_submitting': 1332,
  'agency_count_pe_submitting': 13216,
  'agency_count_srs_submitting': 10016,
  'agency_count_asr_submitting': 9649,
  'agency_count_hc_submitting': 12715,
  'nibrs_population_covered': 40265241,
  'total_population': 286738401,
  'csv_header': 'data_year,population,total_agency_count,published_agency_count,active_agency_count,covered_agency_count,population_covered,agency_count_nibrs_submitting,agency_count_leoka_submitting,agency_count_pe_submitting,agency_count_srs_submitting'},
 {'data_year': 1998,
  'population': 281677339,
  'total_agency_count': 21559,
  'published_agency_count': 12548,
  'active_agency_count': 23543,
  'covered_agency_count': 0,
  'population_covered': 0,
  'agency_count_nibrs_submitting': 2973,
  'agency_count_leoka_submitting': 960,
  'agency_count_pe_submitting': 12549,
  'agency_count_srs_submitting': 10186,
  'agency_count_asr_submitting': 9800,
  'agency_count_hc_submitting': 11115,
  'nibrs_population_covered': 37423340,
  'total_population': 281677339,
  'csv_header': 'data_year,population,total_agency_count,published_agency_count,active_agency_count,covered_agency_count,population_covered,agency_count_nibrs_submitting,agency_count_leoka_submitting,agency_count_pe_submitting,agency_count_srs_submitting'},
 {'data_year': 1997,
  'population': 279743583,
  'total_agency_count': 21714,
  'published_agency_count': 12880,
  'active_agency_count': 23558,
  'covered_agency_count': 0,
  'population_covered': 0,
  'agency_count_nibrs_submitting': 2091,
  'agency_count_leoka_submitting': 816,
  'agency_count_pe_submitting': 12881,
  'agency_count_srs_submitting': 10708,
  'agency_count_asr_submitting': 9700,
  'agency_count_hc_submitting': 11572,
  'nibrs_population_covered': 28094625,
  'total_population': 279743583,
  'csv_header': 'data_year,population,total_agency_count,published_agency_count,active_agency_count,covered_agency_count,population_covered,agency_count_nibrs_submitting,agency_count_leoka_submitting,agency_count_pe_submitting,agency_count_srs_submitting'},
 {'data_year': 1996,
  'population': 279872090,
  'total_agency_count': 21740,
  'published_agency_count': 12542,
  'active_agency_count': 23459,
  'covered_agency_count': 0,
  'population_covered': 0,
  'agency_count_nibrs_submitting': 1634,
  'agency_count_leoka_submitting': 789,
  'agency_count_pe_submitting': 12543,
  'agency_count_srs_submitting': 10768,
  'agency_count_asr_submitting': 10235,
  'agency_count_hc_submitting': 11778,
  'nibrs_population_covered': 23616720,
  'total_population': 279872090,
  'csv_header': 'data_year,population,total_agency_count,published_agency_count,active_agency_count,covered_agency_count,population_covered,agency_count_nibrs_submitting,agency_count_leoka_submitting,agency_count_pe_submitting,agency_count_srs_submitting'},
 {'data_year': 1995,
  'population': 274529771,
  'total_agency_count': 21725,
  'published_agency_count': 13274,
  'active_agency_count': 23409,
  'covered_agency_count': 0,
  'population_covered': 0,
  'agency_count_nibrs_submitting': 1367,
  'agency_count_leoka_submitting': 750,
  'agency_count_pe_submitting': 13275,
  'agency_count_srs_submitting': 11740,
  'agency_count_asr_submitting': 10248,
  'agency_count_hc_submitting': 9981,
  'nibrs_population_covered': 18686943,
  'total_population': 274529771,
  'csv_header': 'data_year,population,total_agency_count,published_agency_count,active_agency_count,covered_agency_count,population_covered,agency_count_nibrs_submitting,agency_count_leoka_submitting,agency_count_pe_submitting,agency_count_srs_submitting'},
 {'data_year': 1994,
  'population': 273076423,
  'total_agency_count': 21989,
  'published_agency_count': 13169,
  'active_agency_count': 23679,
  'covered_agency_count': 0,
  'population_covered': 0,
  'agency_count_nibrs_submitting': 1645,
  'agency_count_leoka_submitting': 617,
  'agency_count_pe_submitting': 13170,
  'agency_count_srs_submitting': 12201,
  'agency_count_asr_submitting': 10783,
  'agency_count_hc_submitting': 7553,
  'nibrs_population_covered': 18982350,
  'total_population': 273076423,
  'csv_header': 'data_year,population,total_agency_count,published_agency_count,active_agency_count,covered_agency_count,population_covered,agency_count_nibrs_submitting,agency_count_leoka_submitting,agency_count_pe_submitting,agency_count_srs_submitting'},
 {'data_year': 1993,
  'population': 268848321,
  'total_agency_count': 21883,
  'published_agency_count': 13311,
  'active_agency_count': 23541,
  'covered_agency_count': 0,
  'population_covered': 0,
  'agency_count_nibrs_submitting': 1589,
  'agency_count_leoka_submitting': 456,
  'agency_count_pe_submitting': 13312,
  'agency_count_srs_submitting': 12498,
  'agency_count_asr_submitting': 10445,
  'agency_count_hc_submitting': 6751,
  'nibrs_population_covered': 18837123,
  'total_population': 268848321,
  'csv_header': 'data_year,population,total_agency_count,published_agency_count,active_agency_count,covered_agency_count,population_covered,agency_count_nibrs_submitting,agency_count_leoka_submitting,agency_count_pe_submitting,agency_count_srs_submitting'},
 {'data_year': 1992,
  'population': 263808943,
  'total_agency_count': 21608,
  'published_agency_count': 14151,
  'active_agency_count': 23268,
  'covered_agency_count': 0,
  'population_covered': 0,
  'agency_count_nibrs_submitting': 1054,
  'agency_count_leoka_submitting': 451,
  'agency_count_pe_submitting': 14152,
  'agency_count_srs_submitting': 13381,
  'agency_count_asr_submitting': 11237,
  'agency_count_hc_submitting': 4921,
  'nibrs_population_covered': 14316820,
  'total_population': 263808943,

In [26]:
df = pd.DataFrame(s_2)
df = df.drop(columns=['csv_header'])
df.head(30)

,active_agency_count,agency_count_asr_submitting,agency_count_hc_submitting,agency_count_leoka_submitting,agency_count_nibrs_submitting,agency_count_pe_submitting,agency_count_srs_submitting,covered_agency_count,data_year,nibrs_population_covered,population,population_covered,published_agency_count,total_agency_count,total_population
0,21994,13694,16300,6564,7102,16784,9696,1,2017,109672672,335302926,0,16783,18642,335302926
1,22623,13727,16521,6602,7044,17444,10048,7,2016,104445260,333722034,80974,17442,19468,333722034
2,22744,13453,15587,6447,6792,17425,10144,1,2015,98826535,332303887,717,17424,19539,332303887
3,22903,12885,16467,6270,6663,17390,10064,1,2014,95148267,328081318,22005,17388,19903,328081318
4,22925,12444,16012,5700,6458,17438,10248,0,2013,93441836,325305041,0,17436,19994,325305041
5,22701,12911,15214,5246,6327,17188,10391,0,2012,92061921,323526281,0,17187,19832,323526281
6,22920,12750,15428,5254,6066,17280,10525,0,2011,89093535,322015521,0,17279,20122,322015521
7,22962,12799,15821,5024,5953,17325,10614,0,2010,86150031,318549157,0,17323,20210,318549157
8,22743,13007,15106,4583,5900,16621,10158,0,2009,83111027,316202888,0,16619,20105,316202888
9,22853,12347,14933,3499,5545,16448,10419,0,2008,79598238,314773345,0,16446,20314,314773345
10,22755,12423,13959,3186,5266,16300,10544,0,2007,76077457,312002646,0,16298,20275,312002646
11,22886,11799,13507,3203,5128,16046,10292,0,2006,72617407,308478985,0,16044,20413,308478985
12,22944,11851,13241,3042,4966,15430,9869,0,2005,70704377,307103743,0,15427,20499,307103743
13,22925,11526,13387,2721,4803,15296,10028,0,2004,66219223,306453395,0,15295,20524,306453395
14,23036,11473,12704,1934,4515,14882,9819,0,2003,61807732,303607661,0,14881,20705,303607661
15,23119,11052,12822,1644,4032,14771,10128,0,2002,56331594,300224229,0,14770,20877,300224229
16,23012,10372,12795,1528,3780,14118,9841,0,2001,53268379,297481562,0,14117,20808,297481562
17,23107,10005,12358,1394,3570,14029,9869,0,2000,48745693,294154476,0,14028,20915,294154476
18,23581,9649,12715,1332,2982,13216,10016,0,1999,40265241,286738401,0,13214,21616,286738401
19,23543,9800,11115,960,2973,12549,10186,0,1998,37423340,281677339,0,12548,21559,281677339
20,23558,9700,11572,816,2091,12881,10708,0,1997,28094625,279743583,0,12880,21714,279743583
21,23459,10235,11778,789,1634,12543,10768,0,1996,23616720,279872090,0,12542,21740,279872090
22,23409,10248,9981,750,1367,13275,11740,0,1995,18686943,274529771,0,13274,21725,274529771
23,23679,10783,7553,617,1645,13170,12201,0,1994,18982350,273076423,0,13169,21989,273076423
24,23541,10445,6751,456,1589,13312,12498,0,1993,18837123,268848321,0,13311,21883,268848321
25,23268,11237,4921,451,1054,14152,13381,0,1992,14316820,263808943,0,14151,21608,263808943
26,23171,10288,2759,394,709,13925,13552,5,1991,9903697,259085163,2657,13924,21512,259085163
27,22909,10765,0,1,1,13921,13917,0,1990,180471,253286315,0,13920,21201,253286315
28,22910,10502,0,0,1,14117,14114,0,1989,10233,252766828,0,14116,21268,252766828
29,22928,10077,0,0,0,12905,12902,0,1988,0,250263626,0,12904,21302,250263626

In [9]:
s_2['state_id']= [1]
s_2

TypeError: list indices must be integers or slices, not str

In [10]:
#df = pd.DataFrame(s_2)
#df.head()

In [11]:
s1 = crime_data["results"][0]
s1

{'state_id': None,
 'state_abbr': '',
 'year': 2016,
 'population': 323405935,
 'violent_crime': 1285606,
 'homicide': 17413,
 'rape_legacy': 96970,
 'rape_revised': 132414,
 'robbery': 332797,
 'aggravated_assault': 802982,
 'property_crime': 7928530,
 'burglary': 1516405,
 'larceny': 5644835,
 'motor_vehicle_theft': 767290,
 'arson': 45729}

In [12]:
s1['state_id']=[100]
s1

{'state_id': [100],
 'state_abbr': '',
 'year': 2016,
 'population': 323405935,
 'violent_crime': 1285606,
 'homicide': 17413,
 'rape_legacy': 96970,
 'rape_revised': 132414,
 'robbery': 332797,
 'aggravated_assault': 802982,
 'property_crime': 7928530,
 'burglary': 1516405,
 'larceny': 5644835,
 'motor_vehicle_theft': 767290,
 'arson': 45729}

In [13]:
#data_x =[]
#data_x.append(crime_data)
#data_x.head()

In [14]:
df = pd.DataFrame(s1)
df.head()

,state_id,state_abbr,year,population,violent_crime,homicide,rape_legacy,rape_revised,robbery,aggravated_assault,property_crime,burglary,larceny,motor_vehicle_theft,arson
0,100,,2016,323405935,1285606,17413,96970,132414,332797,802982,7928530,1516405,5644835,767290,45729

In [ ]:
#crime_df = pd.DataFrame(crime_data, columns=['state_id','state_abbr','year','population','violent_crime','homicide',
#                                     'rape_legacy','rape_revised','robbery','aggravated_assault','property_crime',
#                                     'burglary','larceny','motor_vehicle_theft','arson'])

# Writing data to csv file
#weather_data.to_csv(output_data_file, header=True, index=True, index_label= 'Index')

In [ ]:
#crime_df.head()

In [ ]:
print(json.dumps(crime_data, indent=4, sort_keys=True))

In [ ]:
# File to Load 
state_population_to_load = "input/state_population.csv"

# Read the firearms data
population_data = pd.read_csv(state_population_to_load)
population_data.head(1)

In [ ]:
# File to Load 
fireams_data_to_load = "input/nics-firearm-background-checks.csv"

# Read the firearms data
firearms_data = pd.read_csv(fireams_data_to_load)
firearms_data.head(1)

In [ ]:
#firearms_data.describe()

In [ ]:
# Creating a subset DataFrame
bkgnd_chk_tot_data = pd.DataFrame(firearms_data,
                            columns=['month', 'state', 'totals'])

bct_data=bkgnd_chk_tot_data
#bkgnd_chk_tot_data.head()
bct_data.head()
#bct_data['month']

In [ ]:
# Grouping the results by month
bct_data_by_mo = bkgnd_chk_tot_data.groupby(['month'])

bc_per_month=bct_data_by_mo['totals'].sum()

bc_per_month.head()

In [ ]:
ax1 = bc_per_month.plot.line(x='month', y='totals')

# Adding grid, title, and labels
plt.grid(True)
plt.title('NICS Background Check Totals')
#plt.xlabel('x label text')
#plt.ylabel('y label text')
#plt.axvline(pd.Timestamp('2013-09'),color='r')

plt.savefig('output/t_chk_per_month.png', bbox_inches="tight")

In [ ]:
ax1 = bc_per_month.plot.line(x='month', y='totals')

ax = plt.gca() # get axis handle
line = ax.lines[0] # get the first line, there might be more
ff=line.get_xdata()
yy=line.get_ydata()
print(ff)
#print(yy)
plt.axvline(x=168, ymin=0, ymax=1, color="r")
plt.axvline(x=216, ymin=0, ymax=1, color="r")
# Adding grid, title, and labels
plt.grid(True)
plt.title('NICS Background Check Totals')
#plt.xlabel('x label text')
#plt.ylabel('y label text')
#plt.axvline(pd.Timestamp('2013-09'),color='r')

plt.savefig('output/t_chk_per_month_vline.png', bbox_inches="tight")

In [ ]:
bct_2019 = bct_data[bct_data['month'] >'2019-01'].groupby(['month'])['totals'].sum()
bct_2019.head()

In [ ]:
ax1 = bct_2019.plot.line(x='month', y='totals')

# Adding grid, title, and labels
plt.grid(True)

In [ ]:
bct_range = bct_data[(bct_data['month'] >='2011-05') & (bct_data['month'] <= '2017-5') ].groupby(['month'])['totals'].sum()
bct_range.head()

In [ ]:
ax1 = bct_range.plot.line(x='month', y='totals')

# Adding grid, title, and labels
plt.grid(True)
#plt.savefig('output/2015_2019_bct.png', bbox_inches="tight")
#plt.axvline(x='2016-11', ymin=0, ymax=1, color="r")
#plt.axvline(dt.datetime(2016, 11, 8 ))

In [ ]:
ax1 = bct_range.plot.line(x='month', y='totals')

ax = plt.gca() # get axis handle
line = ax.lines[0] # get the first line, there might be more
ff=line.get_xdata()
yy=line.get_ydata()
print(ff)
print(yy)

# Adding grid, title, and labels
plt.grid(True)
#plt.savefig('output/2015_2019_bct.png', bbox_inches="tight")
plt.axvline(x=18, ymin=0, ymax=1, color="r")
plt.axvline(x=66, ymin=0, ymax=1, color="r")
#plt.axvline(dt.datetime(2016, 11, 8 ))
plt.savefig('output/2011-5_2017-5_bct.png', bbox_inches="tight")

In [ ]:
bct_2019 = bct_data[bct_data['month'].str.contains('2019')].groupby(['month'])['totals'].sum()
bct_2019.head()

In [ ]:
# Plot the world average as a line chart
#totals_by_month = plt.plot(bc_per_month, color="blue", label="NICS Background Check Totals" )

In [ ]:
## Set the 'Country Code' to be our index for easy referencing of rows

#combined_unemployed_data = combined_unemployed_data.set_index("Country Code")

## Collect the mean unemployment rates for the world
#average_unemployment = combined_unemployed_data.mean()

## Collect the years where data was collected
#years = average_unemployment.keys()

## Plot the world average as a line chart
#world_avg, = plt.plot(years, average_unemployment, color="blue", label="World Average" )

In [ ]:
#firearms_2017 = firearms_data[firearms_data['month'].str.contains('2017')]
#firearms_2017.head()

In [ ]:
#state_firearms_sum = firearms_data.groupby(['state'])['totals'].sum()
#state_handguns_sum = firearms_2017.groupby(['state'])['handgun'].sum()
#state_handguns_sum.head()

# Build a scatter plot for each data type
plt.scatter(weather_data["Lat"], weather_data["Humidity"], marker="o", s=10)

# Incorporate the other graph properties
plt.title("City Latitude vs. Humidity (07/20/2019)")
plt.ylabel("Humidity (%)")
plt.xlabel("Latitude")
plt.grid(True)

# Save the figure
plt.savefig("Humidity_vs_Latitude.png")

# Show plot
plt.show()

Perform ####### (Tulgaa) API Calls

Perform ####### (Mike) API Calls